In [1]:
import psycopg2
import pandas as pd

connection = psycopg2.connect(user="bfi_user",
                              password="bfi",
                              host="localhost",
                              port="5432",
                              database="bfi")
cursor = connection.cursor()

In [2]:
postgreSQL_select_Query = '''
    SELECT
        split_part(owner, '(a.k.a. ', 1) as owner_name_1,
        TRIM(translate(translate(SUBSTRING(split_part(owner, 'a.k.a', 2) FROM POSITION('.' IN split_part(owner, 'a.k.a', 2))),'.',''),';','')) AS owner_name_2,
        TRIM(REPLACE(TRANSLATE(SUBSTRING(owner FROM POSITION('; a.k.a. ' IN owner) FOR POSITION('),' IN owner) - POSITION('; a.k.a. ' IN owner)) ,';',''),'a.k.a.','')) AS owner_name_3,
        TRIM(REPLACE(SUBSTRING(split_part(owner, ';',2) FROM POSITION('),' IN split_part(owner, ';',2))), '),','')) as address,
        TO_CHAR(CAST(REPLACE(SUBSTRING(owner FROM POSITION('DOB ' IN owner) FOR POSITION('; POB' IN owner) - POSITION('DOB ' IN owner)),'DOB ','') AS DATE), 'yyyymmdd') as dob,
        REPLACE(SUBSTRING(owner FROM POSITION('POB ' IN owner) FOR POSITION('; Gender' IN owner) - POSITION('POB ' IN owner)), 'POB ','') as pob,
        
        REPLACE(SUBSTRING(owner FROM POSITION('Gender ' IN owner) FOR POSITION(' (individual)' IN owner) - POSITION('Gender ' IN owner)),'Gender ','') AS gender
    FROM customer_asset
'''

In [3]:
df = pd.read_sql(postgreSQL_select_Query, con=connection)
df

/var/folders/fb/267jjmp10_l21kk8rz4w8z6h0000gn/T/ipykernel_3778/3610743733.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(postgreSQL_select_Query, con=connection)

,owner_name_1,owner_name_2,owner_name_3,address,dob,pob,gender
0,"ABBAS, Mohammad Hasan","ABBAS, Mohammad Hassan","ABBAS, Muhammad","Damascus, Syria",19640901,"Al Ladhiqiyah, Syria",Male
1,"ABDULAH, Hassanudin","ABDUL, Hasanudin","ABDULLAH, Hasanudin","Damascus, Syria",19640901,"Al Ladhiqiyah, Syria",Male